img {
    width: 270px;
}

body {
    font-family: Roboto, Tahoma, sans-serif;
}

h1 {
    font-weight: bold;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
}

p {
    margin: 0px;
}

.exp-link {
    color: darkblue;
    text-decoration: none;
}

.exp-link:hover {
    color: darkgray;
    text-decoration: none;
}

.EduImg {
    max-height: 100px;
    max-width: 100px;
    margin: auto;
}

.ExpImg {
    max-height: 100px;
    width: auto;
}

.maxwidth-75 {
    max-width: 75px;
}

.card {
    max-width: 15rem;
    height: 300px;
}

.card-body {
    color: black;
}

.accordion-body, .accordion-item {
    background-color: lightgray;
}

.accordion-button {
    color: white;
    background-color: darkblue;
}

.contacts {
    color: white;
}

.contacts:hover {
    color: white;
}

.btn-darkblue {
    background-color: darkblue;
}

.text-darkblue {
    color: darkblue;
}

.border-ridge {
    border-style: ridge;
    border-width: 5px;
}
.Brazil {
    color: yellow;
}

.Brazil:hover {
    color: green;
}

.Fluminense {
    color: darkred;
}

.Fluminense:hover {
    color: darkgreen;
}

.nav-link-edu, .nav-link-edu:hover {
    color: white;
    background: black;
}

.tab-content {
    border: 1px solid white;
    padding: 5px;
}

.CoName {
    font-weight: bolder;
    margin-bottom: 5px;
}

.Years {
    font-weight: bold;
}